.root {
  min-height: 100vh;
  padding: 4rem 0;
  width: 640px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1px 0;
  background-color: black;
  border-bottom: 1px solid #999;
  margin-bottom: 50px;
  z-index: 2;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  a {
    text-decoration: none;
  }
}
